.xunta-galicia h3 {
  font-size: 1.2em;
}
.xunta-galicia h3, p {
  margin-top: 0;
}
/* add additional custom styles */

div{
  background-image: url(../images/Galicia.png);
  background-attachment: fixed;
  background-size: auto;
  color:azure
}
label{
  color:azure;
  font-size: x-large;
}
h3{
  color:azure;
  font-size: xx-large;
}